# Module 5 - Lists, Tuples and Sets

### List Exercises: Level 1

In [ ]:
# Declare an empty list

empty = []

In [53]:
# Declare a list with more than 5 items

items =  ['One', 'two', 'three', 'four', 'five', 'six', 'seven']
print(items)

['One', 'two', 'three', 'four', 'five', 'six', 'seven']

In [54]:
# Find the length of your list

print('Q3\t', f'Lenght of {items} is:', len(items))

Q3	 Lenght of ['One', 'two', 'three', 'four', 'five', 'six', 'seven'] is: 7

In [65]:
# Get the first item, the middle item and the last item of the list

print('Q4\t', f'The 1st, middle, and last items in the list {items} are: \n', f'first: {items[0]} \n', f'middle: {items[int((len(items))/2)]} \n', f'last: {items[-1]} ')

Q4	 The 1st, middle, and last items in the list ['One', 'two', 'three', 'four', 'five', 'six', 'seven'] are:
 first: One
 middle: four
 last: seven

In [ ]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ['Abu', 33, 183.5, 'Married', 'Kebbi']

In [86]:
# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [68]:
# Print the list using print()

print('Q7.\t', it_companies)

Q7.	 ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [71]:
# Print the number of companies in the list

print('Q8\t', 'Number of companies in the list are: ', len(it_companies))

Q8	 Number of companies in the list are:  7

In [72]:
# Print the first, middle and last company

print('Q9\t', f'The 1st, middle, and last items in the list {it_companies} are: \n', f'first: {it_companies[0]} \n', f'middle: {it_companies[int((len(items))/2)]} \n', f'last: {it_companies[-1]} ')

Q9	 The 1st, middle, and last items in the list ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'] are:
 first: Facebook
 middle: Apple
 last: Amazon

In [87]:
# Print the list after modifying one of the companies

it_companies_modified = it_companies.copy()
it_companies_modified[3] = 'Java'
print('Q10\t', it_companies_modified)

Q10	 ['Facebook', 'Google', 'Microsoft', 'Java', 'IBM', 'Oracle', 'Amazon']

In [88]:
# Add an IT company to it_companies

it_companies_modified = it_companies.copy()
it_companies_modified.append('Nvidia')
print('Q11\t', it_companies_modified)

Q11	 ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Nvidia']

In [89]:
# Insert an IT company in the middle of the companies list

it_companies_modified = it_companies.copy()
it_companies_modified.insert(6, 'Open AI')
print('Q12\t', it_companies_modified)

Q12	 ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Open AI', 'Amazon']

In [90]:
# Change one of the it_companies names to uppercase (IBM excluded!)

it_companies_modified = it_companies.copy()
it_companies_modified[2] = it_companies_modified[2].upper()
print('Q13\t', it_companies_modified)

Q13	 ['Facebook', 'Google', 'MICROSOFT', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [91]:
# Join the it_companies with a string '#

joined = ''
for company in it_companies:
    joined += company + "#"

print('Q14\t', joined)

Q14	 Facebook#Google#Microsoft#Apple#IBM#Oracle#Amazon#

In [93]:
# Check if a certain company exists in the it_companies list

print('Q15.\t', f'Is "Svelt" present in {it_companies}?:', 'Svelt' in it_companies )

Q15.	 Is "Svelt" present in ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']?: False

In [95]:
# Sort the list using sort() method

it_companies_modified = it_companies.copy()
it_companies_modified.sort()
print('Q16.\t', 'Sort :', it_companies_modified)

Q16.	 Sort : ['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [96]:
# Reverse the list in descending order using reverse() method

it_companies_modified.reverse()
print('Q17.\t', it_companies_modified)

Q17.	 ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [98]:
# Slice out the first 3 companies from the list

print('Q18.\t', it_companies[:3])

Q18.	 ['Facebook', 'Google', 'Microsoft']

In [99]:
# Slice out the last 3 companies from the list

print('Q19.\t', it_companies[-3:])

Q19.	 ['IBM', 'Oracle', 'Amazon']

In [101]:
# Slice out the middle IT company or companies from the list

print('Q20\t', it_companies[1:-1])

Q20	 ['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [102]:
# Remove the first IT company from the list

it_companies_modified = it_companies.copy()
it_companies_modified.remove(it_companies_modified[0])
print('Q21\t', it_companies_modified)

Q21	 ['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [103]:
# Remove the middle IT company or companies from the list

it_companies_modified = it_companies.copy()
it_companies_modified.remove(it_companies_modified[int(len(it_companies_modified)/2)])
print('Q22\t', it_companies_modified)

Q22	 ['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [149]:
# Remove the last IT company from the list

it_companies_modified = it_companies.copy()
it_companies_modified.pop()
print('Q23\t', it_companies_modified)

Q23	 ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [108]:
# Remove all IT companies from the list

it_companies_modified = it_companies.copy()
it_companies_modified.clear()
print('Q24\t', it_companies_modified)

Q24	 []

In [ ]:
# Destroy the IT companies list

del it_companies_modified
print('Q25\t', it_companies_modified)

In [114]:
# Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

print('Q26\t', front_end + back_end)

Q26	 ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [119]:
# After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux

stack = front_end + back_end
full_stack = stack.copy()
full_stack.insert(stack.index('Redux') + 1, ['Python', 'SQL'])
print('Q27\t', full_stack)

Q27	 ['HTML', 'CSS', 'JS', 'React', 'Redux', ['Python', 'SQL'], 'Node', 'Express', 'MongoDB']

### List Exercises : Level 2

In [129]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [132]:
# Sort the list and find the min and max age

age_sort = sorted(ages)
max_age = max(age_sort)
min_age = min(age_sort)

print(f'Sorted list: {age_sort}\n',  f'Maximum value is: {max_age}\n', f'Minimum value is: {min_age}')

Sorted list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
 Maximum value is: 26
 Minimum value is: 19

In [134]:
# Add the min age and the max age again to the list

age_sort.append(max_age)
age_sort.append(min_age)
print('Sorted age with max and min ages:', age_sort)

Sorted age with max and min ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19, 26, 19]

In [ ]:
# Find the median age (one middle item or two middle items divided by two)

def median(array):
    array_lenght = len(array)
    sorted_array = sorted(array)
    if array_lenght%2 == 0:
        return (sorted_array[int(array_lenght/2) -1] + sorted_array[int(array_lenght/2) ])/2
    else:
        return sorted_array[int(array_lenght/2)]

print('Median age is:', median(ages))

Median age is: 24.0

In [142]:
# Find the average age (sum of all items divided by their number )

def average(array):
    max_age = max(array)
    min_age = min(array)
    return (max_age + min_age)/2

print('Average sum of ages is:', average(ages))

Average sum of ages is: 22.5

In [144]:
# Find the range of the ages (max minus min)

def array_range(array):
    return max(array) - min(array)

print('Range of ages is:', array_range(ages))

Range of ages is: 7

In [148]:
# Compare the value of (min - average) and (max - average), use abs() method

print('Compare values:\t',f'min - average: {abs(min(ages) - average(ages))}', f'min - average: {abs(max(ages) - average(ages))}')

Compare values:	 min - average: 3.5 min - average: 3.5

In [201]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

def split_halves(array):
    array_lenght = len(array)
    if array_lenght%2 == 0:
        return (f'First half: {array[:int(array_lenght/2)]}'  "\n"  "\n"
              f'Second half: {array[int(array_lenght/2):]}')
    else:
        return (f'First half: {array[:int(array_lenght/2)+1]}'  "\n"  "\n"
               f'Second half: {array[int(array_lenght/2)+1:]}')
    
print(split_halves(countries))

First half: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']

Second half: ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [168]:
first, second, third,*rest = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print(first)          # 1
print(second)         # 2
print(third)          # 3
print(rest)           # [4,5,6,7,8,9]

China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']

### Tuple Exercise: Level 1

In [ ]:
# Create an empty tuple

empty = ()

In [169]:
# Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

brothers = 'Quadri', 'Alimi', 'Benard'
sisters =   'Rukayat', 'Shafy'

In [171]:
sibs = brothers + sisters
print(sibs)

('Quadri', 'Alimi', 'Benard', 'Rukayat', 'Shafy')

In [200]:
# How many siblings do you have?

print(f'There are {len(sibs)} siblings')

There are 5 siblings

In [173]:
# Modify the siblings tuple and add the name of your father and mother and assign it to family_members

parents = 'Alhaji', 'Alhaja'
family_members = parents + sibs

print(family_members)

('Alhaji', 'Alhaja', 'Quadri', 'Alimi', 'Benard', 'Rukayat', 'Shafy')

### Tuple Exercises: Level 2

In [182]:
# Unpack siblings and parents from family_members

print('Q1.')
for member in family_members:
    print(member)

Q1.
Alhaji
Alhaja
Quadri
Alimi
Benard
Rukayat
Shafy

In [183]:
# Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

fruits = 'Orange', 'guava', 'watermelon', 'strawberry'
vegetables = 'broculli', 'carrot', 'carbage', 'spinach'
animal_products = 'eggs', 'meat', 'milk'
food_stuff_tp = fruits + vegetables + animal_products
print('Q2.\t', food_stuff_tp)

Q2.	 ('Orange', 'guava', 'watermelon', 'strawberry', 'broculli', 'carrot', 'carbage', 'spinach', 'eggs', 'meat', 'milk')

In [185]:
# Change the about food_stuff_tp tuple to a food_stuff_lt list

food_stuff_lt = list(food_stuff_tp)
print('Q3.\t', food_stuff_lt)

Q3.	 ['Orange', 'guava', 'watermelon', 'strawberry', 'broculli', 'carrot', 'carbage', 'spinach', 'eggs', 'meat', 'milk']

In [187]:
# Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list

print('Q4.\t', food_stuff_lt[1:-1])

Q4.	 ['guava', 'watermelon', 'strawberry', 'broculli', 'carrot', 'carbage', 'spinach', 'eggs', 'meat']

In [193]:
# Slice out the first three items and the last three items from food_staff_lt list

first_three = food_stuff_tp[:3]
last_three = food_stuff_tp[-3:]

print('Q5.')
print(f'First three: {first_three}', '\n', f'Last three: {last_three}')

Q5.
First three: ('Orange', 'guava', 'watermelon')
 Last three: ('eggs', 'meat', 'milk')

In [ ]:
# Delete the food_staff_tp tuple completely
food_stuff_tp_copy = food_stuff_tp.copy()
del food_stuff_tp_copy
print(food_stuff_tp_copy)

In [197]:
# Check if an item exists in tuple

print('Q7.\t', 'Is "Spinach" in food stuff list?:', 'spinach' in food_stuff_tp)

Q7.	 Is "Spinach" in food stuff list?: True

In [199]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')


print('\t', 'Is "Estonia" a nordic country?:', 'Estonia' in nordic_countries)
print('\t','Is "Iceland" a nordic country?:', 'Iceland' in nordic_countries)

	 Is "Estonia" a nordic country?: False
	 Is "Iceland" a nordic country?: True

### Sets Exercises: Level 1

In [ ]:
# sets
full_stack.insert(stack.index('Redux'), ['Python', 'SQL'])

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
A_copy = A.copy()
B = {19, 22, 20, 25, 26, 24, 28, 27}
B_copy = B.copy
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [3]:
# Find the length of the set it_companies

print('Q1\t', 'Lenght of set "it_companies":', len(it_companies))

Q1	 Lenght of set "it_companies": 7

In [7]:
# Add 'Twitter' to it_companies
added = it_companies.copy()
added.add('Twitter')
print('Q2\t', 'Add "Twitter" to "its_companies": ', added)

Q2	 Add "Twitter" to "its_companies":  {'Google', 'Amazon', 'Microsoft', 'Apple', 'Oracle', 'Facebook', 'IBM', 'Twitter'}

In [45]:
# Insert multiple IT companies at once to the set it_companie

new_it = {'Flutter', 'Swipe', 'Intel'}
print('Q3\t', 'Add multiple items to it_companies', it_companies.union(new_it))

Q3	 Add multiple items to it_companies {'Google', 'Amazon', 'Microsoft', 'Flutter', 'Swipe', 'Apple', 'Intel', 'Oracle', 'Facebook', 'IBM'}

In [13]:
# Remove one of the companies from the set it_companies

remove = it_companies.copy()
print('Q4\t','Remove one company from "it_companies": \n', f'\t"{remove.pop()}" was removed,', f'remains {remove}')

Q4	 Remove one company from "it_companies":
 	"Google" was removed, remains {'Amazon', 'Microsoft', 'Apple', 'Oracle', 'Facebook', 'IBM', 'Twitter'}

#### Q5.
remove() is used if you want to ensure the element exists in the set and want an error if it doesn't.

while discard() is used if you want to remove the element without worrying about whether it exists or not.

### Sets Exercises: Level 2

In [46]:
# Join A and B

print('Q1\t', 'Join A and B:', A.union(B))

Q1	 Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}

In [47]:
# Find A intersection B
print('Q2\t', 'Intersection A and B:', A.intersection(B))

Q2	 Intersection A and B: {19, 20, 22, 24, 25, 26}

In [48]:
# Is A subset of B
print('Q3\t', 'Is A a subset of B? :', A.issubset(B))

Q3	 Is A a subset of B? : True

In [49]:
# Are A and B disjoint sets
print('Q4\t', 'Is A and B disjoint?:', A.isdisjoint(B))

Q4	 Is A and B disjoint?: False

In [50]:
# Join A with B and B with A
print('Q5\t', 'Join A on B: ', A.union(B))
print('\t', 'Join B on A: ', B.union(A))

Q5	 Join A on B:  {19, 20, 22, 24, 25, 26, 27, 28}
	 Join B on A:  {19, 20, 22, 24, 25, 26, 27, 28}

In [51]:
# What is the symmetric difference between A and B

print('Q6\t', 'Symmetric difference between A and B', A.symmetric_difference(B))

Q6	 Symmetric difference between A and B {27, 28}

In [52]:
# Delete the sets completely
del A, B
print('Q7\t', 'Delete the sets completely')

Q7	 Delete the sets completely

### Sets Exercises: Level 3

In [39]:
# Convert the ages to a set and compare the length of the list and the set, which one is bigger?

print('Q1.')

if len(age) > len(set(age)):
    print('lenght of list is bigger')
elif len(age) < len(set(age)):
    print('lenght of set is bigger')
else:
    print('lenght of set and list are equal')

Q1.
lenght of list is bigger

Q2.     Explain the difference between the following data types: string, list, tuple and set

- Immutability: Strings and tuples are immutable when created, while lists and set are mutable.
- Order: Lists and tuples maintain the order of elements, while sets do not.
- Uniqueness: Sets allow unique elements, while lists and tuples can have duplicated elements.
- Indexing: Lists, tuples and strings support indexing, while sets do not.

In [44]:
# I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

word = 'I am a teacher and I love to inspire and teach people'

print('Q3.\t', f'Unique words in the sentence "I am a teacher and I love to inspire and teach people" are:   {len(set(word.split()))}\n', set(word.split()) )

Q3.	 Unique words in the sentence "I am a teacher and I love to inspire and teach people" are:   10
 {'I', 'and', 'to', 'inspire', 'love', 'teacher', 'teach', 'people', 'a', 'am'}